:root {
  --primary-rgb:114, 187, 141;
  --primary:rgb(var(--primary-rgb));
}

html, body {
  font-family: "SF Pro SC", "SF Pro Text", "SF Pro Icons", "PingFang SC", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  height: 100%;
}

body {
  touch-action: manipulation; // disable ios double tap zoom
  user-select: none;
  //-webkit-tap-highlight-color: $primary-tr;
}

.tk-scroll {
  ::-webkit-scrollbar-thumb {
    border-radius: 0 !important;
  }

  ::-webkit-scrollbar-track {
    border-radius: 0 !important;
  }
}
