@import '~@sweetalert2/theme-minimal/minimal.scss';
.swal2-popup.swal2-toast {
  border-radius: $generic-border-radius;
  min-width: 320px;
}

:root {
  --primary-rgb:114, 187, 141;
  --primary:rgb(var(--primary-rgb));
}

html, body {
  font-family: "SF Pro SC", "SF Pro Text", "SF Pro Icons", "PingFang SC", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  height: 100%;
}

body {
  touch-action: manipulation; // disable ios double tap zoom
  user-select: none;
  -webkit-tap-highlight-color: $primary-tr;
}

//滚动条样式
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
  overflow: overlay;
}

$scrollbar-fg: $primary; //rgba(0, 0, 0, .3);
$scrollbar-fg-dark: $primary; //rgba(255, 255, 255, .3);
$scrollbar-bg: rgba(0, 0, 0, .1);
$scrollbar-bg-dark: rgba(255, 255, 255, .1);

::-webkit-scrollbar-thumb {
  box-shadow: 0 0 1px 0 $dark inset;
  background: $scrollbar-fg;
  border-radius: $generic-border-radius;
  cursor: pointer;
}

::-webkit-scrollbar-track {
  box-shadow: 0 0 1px 0 $dark inset;
  background: $scrollbar-bg;
  border-radius: $generic-border-radius;
}

//黑色风格滚动条
.bg-dark {

  ::-webkit-scrollbar-corner {
    background: $scrollbar-bg-dark
  }

  ::-webkit-scrollbar-thumb {
    background: $scrollbar-fg-dark;
  }

  ::-webkit-scrollbar-track {
    background: $scrollbar-bg-dark
  }

  &::-webkit-scrollbar-corner {
    background: $scrollbar-bg-dark
  }

  &::-webkit-scrollbar-thumb {
    background: $scrollbar-fg-dark
  }

  &::-webkit-scrollbar-track {
    background: $scrollbar-bg-dark
  }
}

.bg-glass-black {
  color: white;
  background: rgba(0, 0, 0, 0.85);
  backdrop-filter: saturate(180%) blur(30px);
}

.bg-dark {
  color: white;
  background: $dark;
  //backdrop-filter: saturate(180%) blur(20px);
}

.bg-light {
  color: black;
  background: $grey-2;
}

.bg-glass-white {
  color: black;
  background: rgba(255, 255, 255, 0.72);
  //backdrop-filter: saturate(180%) blur(20px);
}

@mixin btnMixin {
  cursor: pointer;
  text-decoration: none;

  &:active {
    opacity: .8;
  }

  &:disabled {
    cursor: not-allowed;
    opacity: .5;
  }

  //&:focus {
  //  //outline: 1px solid $primary;
  //  //outline-offset: -1px;
  //}
}

.btn-no-style {
  background: none;
  border: none;
  //outline: none;
  color: inherit;
  padding: 0;

  @include btnMixin
}

.btn-styled {
  border: $layout-border;
  padding: 2px 5px;
  box-sizing: border-box;
  background: $primary;
  color: white;
  border-radius: $generic-border-radius;

  @include btnMixin
}

.input-styled {
  border: $layout-border;
  padding: 2px 5px;
  box-sizing: border-box;
  background: transparent;
  color: inherit;
  border-radius: $generic-border-radius;
}

.text-center {
  text-align: center;
}

button, input, textarea, a, {
  &:focus {
    //outline: 1px solid $primary;
    outline: none;
    box-shadow: 0 0 0 0.12rem $primary-tr inset;
  }
}

.text-overflow {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}


.fade-enter-active, .fade-leave-active {
  transition: opacity .23s ease;
}

.fade-enter-from, .fade-leave-to {
  opacity: 0;
}

@keyframes rotating180 {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(180deg);
  }
}

@keyframes rotating360 {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.iconfont {
  font-size: inherit;
}

.relative-position {
  position: relative;
}

.cursor-default {
  cursor: default !important;
}

.cursor-pointer {
  cursor: pointer !important;
}
