.settings {
  padding: 10px 0;

  * {
    box-sizing: border-box;
  }

  $icon-size: 40px;

  &__group {
    padding: 10px 10px;

    @media screen and (max-width: $mq_mobile_width) {
      padding: 10px
    }

    &+ .settings__group{
      border-top: $layout-border;
    }

    &__title {
      color: $primary;
      font-weight: 500;
      padding-bottom: 10px;
      padding-left: $icon-size + 10px;
      padding-right: 10px;
    }

    &__children {}
  }


  ::v-deep .settings-item {
    box-sizing: border-box;
    display: flex;
    align-items: center;
    transition: all .3s;
    border-radius: $border-radius;
    padding: 0 5px;

    &--disabled {
      opacity: .5;
      cursor: not-allowed;
    }

    &:hover {
      background-color: $separator-color;
    }

    &__left {
      box-sizing: border-box;
      display: flex;
      height: 55px;
      padding: 10px 0;
      flex: 1;
    }

    &__titles {
      padding-left: 5px;
      height: 100%;
      flex: 1;
      display: flex;
      justify-content: center;
      flex-direction: column;

      &__title {
        font-weight: 500;
      }

      &__subtitle {
        margin-top: 2px;
        font-size: 14px;
        opacity: .6 ;
      }
    }

    &__icon {
      width: $icon-size;
      display: flex;
      align-items: center;
      justify-content: center;
      .material-icons {
        opacity: .8;
      }
    }
  }

}
